<div class="linkslist">
  <p class="asidetitle"><%= __('links') %></p>
    <ul>
      <li><a href="http://shengxuezixun.com" target="_blank" title="升学谘询">升学谘询</a></li>
      <li><a href="http://lwxbk.com" target="_blank" title="小新博客">小新博客</a></li>
      <li><a href="http://baqiye.com" target="_blank" title="扒企业">扒企业</a></li>
    </ul>
</div>
